<!--{% include 'cars/header.html' %}-->
<!--<br><br><br>-->
<!--<div class="container">-->
<!--    <div class="row justify-content-center">-->
<!--        <div class="col-md-8">-->
<!--            <button class="btn btn-danger mr-2"><a href="/car_detail/{{car_id.id}}/delete/" style="color: white; text-decoration: none;">Удалить автомобиль</a></button>-->
<!--            <button class="btn btn-primary mr-2"><a href="/car_detail/{{car_id.id}}/update/" style="color: white; text-decoration: none;">Изменить автомобиль</a></button>-->
<!--            <h1>Детальная информация об: <br>{{car_id.title}}</h1>-->
<!--            <p><em>{{car_id.description}}</em></p>-->
<!--            <img src="{{car_id.image}}" alt="" width="680" height="420">-->
<!--            <p>Год: {{car_id.year}}</p>-->
<!--            <p>Двигатель: {{car_id.engine}}</p>-->
<!--            <p>Сторона руля: {{car_id.steering_wheel}}</p>-->
<!--            <p>Разгон до 100км/ч: {{car_id.acceleration}}с</p>-->
<!--            <p>Привод: {{car_id.drive_unit}}</p>-->
<!--            <p>Цена: {{car_id.price}}</p>-->
<!--            <p>Скидка: {{car_id.discount}}</p>-->
<!--            {% if car_id.gift %}-->
<!--                <p>В подарок: {{car_id.gift}}</p>-->
<!--            {% else %}-->
<!--                <p>В подарок: Подарок не предоставляется</p>-->
<!--            {% endif %}-->
<!--            <p>Дата добавления: {{car_id.created_at}}</p>-->
<!--            <p>Дата обновления: {{car_id.updated_at}}</p>-->



<!--            <h2>Добавить комментарий</h2>-->
<!--            <button class="btn btn-success"><a href="/car_detail/{{ car_id.id }}/add_comment/" style="color: white; text-decoration: none;">Добавить</a></button>-->

<!--            <h2>Комментарии</h2>-->
<!--<ul>-->
<!--    {% for comment in car_id.review_cars.all %}-->
<!--        <li>-->
<!--            <h3>{{ comment.text }}</h3>-->
<!--            <p>{{ comment.created_at }}</p>-->
<!--            <form action="{% url 'edit_comment' comment.id %}" method="post">-->
<!--                {% csrf_token %}-->
<!--                <button type="submit">Изменить комментарий</button>-->
<!--            </form>-->
<!--            <form action="{% url 'delete_comment' comment.id %}" method="post">-->
<!--                {% csrf_token %}-->
<!--                <button type="submit">Удалить комментарий</button>-->
<!--            </form>-->
<!--        </li>-->
<!--    {% endfor %}-->
<!--</ul>-->



<!--            &lt;!&ndash;            <h2>Комментарии</h2>&ndash;&gt;-->
<!--&lt;!&ndash;            <ul>&ndash;&gt;-->
<!--&lt;!&ndash;                {% for comment in car_id.review_cars.all %}&ndash;&gt;-->
<!--&lt;!&ndash;                    <li>&ndash;&gt;-->
<!--&lt;!&ndash;                        <h3>{{ comment.text }}</h3>&ndash;&gt;-->

<!--&lt;!&ndash;                        <p>{{ comment.created_at }}</p>&ndash;&gt;-->
<!--&lt;!&ndash;                    </li>&ndash;&gt;-->
<!--&lt;!&ndash;                {% endfor %}&ndash;&gt;-->


<!--&lt;!&ndash;            </ul>&ndash;&gt;-->

<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!--{% include 'cars/footer.html' %}-->
{% include 'cars/header.html' %}

<br><br><br>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <button class="btn btn-danger mr-2"><a href="/car_detail/{{ car_id.id }}/delete/" style="color: white; text-decoration: none;">Удалить автомобиль</a></button>
            <button class="btn btn-primary mr-2"><a href="/car_detail/{{ car_id.id }}/update/" style="color: white; text-decoration: none;">Изменить автомобиль</a></button>
            <h1>Детальная информация об: <br>{{ car_id.title }}</h1>
            <p><em>{{ car_id.description }}</em></p>
            <img src="{{ car_id.image }}" alt="" width="680" height="420">
            <p>Год: {{ car_id.year }}</p>
            <p>Двигатель: {{ car_id.engine }}</p>
            <p>Сторона руля: {{ car_id.steering_wheel }}</p>
            <p>Разгон до 100км/ч: {{ car_id.acceleration }}с</p>
            <p>Привод: {{ car_id.drive_unit }}</p>
            <p>Цена: {{ car_id.price }}</p>
            <p>Скидка: {{ car_id.discount }}</p>
            {% if car_id.gift %}
                <p>В подарок: {{ car_id.gift }}</p>
            {% else %}
                <p>В подарок: Подарок не предоставляется</p>
            {% endif %}
            <p>Дата добавления: {{ car_id.created_at }}</p>
            <p>Дата обновления: {{ car_id.updated_at }}</p>

            <h2>Добавить комментарий</h2>
            <button class="btn btn-success"><a href="/car_detail/{{ car_id.id }}/add_comment/" style="color: white; text-decoration: none;">Добавить</a></button>

            <h2>Комментарии</h2>
            <ul>
                {% for comment in car_id.review_cars.all %}
                    <li>
                        <h3>{{ comment.text }}</h3>

                        <button class="btn btn-success"><a href="/edit_comment/{{ comment.id }}/" style="color: white; text-decoration: none;">Изменить коммент</a></button>
                        <button class="btn btn-danger mr-2"><a href="/delete_comment/{{ comment.id }}/" style="color: white; text-decoration: none;">Удалить коммент</a></button>
                        <p>{{ comment.created_at }}</p>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

{% include 'cars/footer.html' %}
